@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  color:#7f292c;
  position: relative;
  padding-bottom: 2em;
  min-height: 100vh;
}

/* index.css */
body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}






.title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: #902829;
  font-size: 40px;
  letter-spacing: 1px;
}

.sub-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: #902829;
  font-size: 25px;
  letter-spacing: 1px;
}

/* estilo para los inputs */
.form-control {
  box-shadow: 0px 1px 0px rgba(144, 40, 41, 0.5);
  border: 0.3px solid gray;
  background-color: #F3EDED; 
}

.form-select{
  box-shadow: 0px 1px 0px rgba(144, 40, 41, 0.5);
  border: 0.3px solid gray;
  background-color: #F3EDED; 
}

/* estilos para el login */
.text-with-lines {
  position: relative;
  text-align: center;
}

.line {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ccc;
}

.line-top {
  top: -5px;
}

.line-bottom {
  bottom: -5px;
}

.button-login {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: #7f292c;
  color: white;
}

/* header y footer */

.navbar-custom {
  background-color: #301b46;
}

.footer-custom {
  background-color: #301b46;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}




.card-body {
  color: #000000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 500;
  background: #F3EDED;
  height: 100%;
}


/* Barra de busqueda */
.lista-resultados{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: scroll;
}

.resultado-busqueda{
  padding: 10px 20px;

}

.resultado-busqueda:hover{
  background-color: #efefef;
  cursor: pointer;
}


/* estilos para las graficas */
.chart {
  width: 100%;
  min-height: 400px;
}


/* Estilos para el sideBar */


::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
    
  
}





#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/* Aqui terminan estilos de sideBar */

